*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --basic-progress-color: #3B7CFF;
    --basic-cashback-card: #29476B;
    --basic-button-yellow: #FEE600;
    --basic-grey: #E1E1E3;
    --bacis-total-bcg: #F4F4F4;
    --basic-online-bcg: #424548;
    --basic-yellow-hover: #FED500;

    /* --basic-text: #000000; */
    --basic-white-text: #ffffff;    
    --basic-subtitle-text: #808185;
    --basic-other-text: #A2A4A6;
    --basic-total-text: #2B2D33;
    --basic-company-text: #55575C;
}
@font-face{
    font-family: "Navigo";
    font-weight: 400;
    font-style: normal;
    src: local("Navigo"),url(../fonts/Navigo-Regular-Web.woff2),url(../fonts/Navigo-Regular-Web.woff);
    color: var(--basic-total-text);
}
@font-face{
    font-family: "Navigo";
    font-weight: 700;
    font-style: normal;
    src: local("Navigo"),url(../fonts/Navigo-Bold-Web.woff2),url(../fonts/Navigo-Bold-Web.woff);
    color: var(--basic-total-text);
}
@font-face{
    font-family: "Navigo";
    font-weight: 900;
    font-style: normal;
    src: local("Navigo"),url(../fonts/Navigo-Black-Web.woff2),url(../fonts/Navigo-Black-Web.woff);
    color: var(--basic-total-text);
}
@font-face{
    font-family: "ALS Hauss";
    font-weight: 400;
    font-style: normal;
    src: local("ALS Hauss"),url(../fonts/ALS_Hauss_Regular_2.1.otf);
    color: var(--basic-total-text);
}
@font-face{
    font-family: "ALS Hauss";
    font-weight: 500;
    font-style: normal;
    src: local("ALS Hauss"),url(../fonts/ALS_Hauss_Medium_2.1.otf);
    color: var(--basic-total-text);
}

.page {
    font-family: "ALS Hauss","Arial",sans-serif;/*заменить*/
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 auto;
    min-height: 100%;
    margin: 0;
    width: 100%;
    color: var(--basic-total-text);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    position: relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden
}
/*стилизация input range*/
input[type='range'].range {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--basic-grey);
}
input[type='range'].range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--basic-button-yellow);
    z-index: 2;
}
input[type='range'].second-range {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--basic-grey);
}
input[type='range'].range::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: var(--basic-button-yellow);
    z-index: 10;
}
input[type='range'].second-range::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background: var(--basic-button-yellow);
}
input[type='range'].range:hover::-webkit-slider-thumb,
input[type='range'].range:active::-webkit-slider-thumb {
    background: var(--basic-yellow-hover);
    z-index: 10;
}
input[type='range'].range:hover::-moz-range-thumb,
input[type='range'].range:active::-moz-range-thumb {
    background: var(--basic-yellow-hover);
}
input[type='range'].range::-webkit-slider-runnable-track{
    z-index: 10;
}

/* ползунок скроллбара */
.page-footer__description::-webkit-scrollbar {
    width: 5px;
    height: 122px;
    background-color: var(--basic-grey);
}
.page-footer__description::-webkit-scrollbar-track{
    background-color: var(--basic-grey);
    height: 122px;
    width: 4px;
    border-radius: 4px;
}
.page-footer__description::-webkit-scrollbar-thumb {
    background-color: #808185;
    height: 26px;
    border-radius: 4px;
    cursor: pointer;
}
.page-footer__description::-webkit-scrollbar-thumb:hover {
    background-color: #808185;
    cursor: pointer;
}
.page-footer__description::-webkit-scrollbar-thumb:active {
    width: 5px;
    background-color: #808185;
    cursor: pointer;
}
.page-footer__description::-webkit-scrollbar-thumb:focus {
    width: 5px;
    background-color: #808185;
    cursor: pointer;
}

/*Mobile версия*/
@media (min-width: 375px){
    .container{
        width: 100%;
        padding: 0 16px;
        margin: 0 auto;
    }
    .title {
        font-family: "Navigo";
        font-size: 36px;
        line-height: 42px;
        font-weight: 700;
        color: var(--basic-white-text);
    }
    .title-h2 {
        font-family: "Navigo";
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
    }
    .subtitle {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    .other{
        font-size: 12px;
        line-height: 16px;
        color: var(--basic-other-text);
    }
    .button{
        display: inline-block;
        background-color: var(--basic-button-yellow);
        padding: 17px 0;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        height: 54px;
        text-decoration: none;
        color: var(--basic-total-text);
    }
    .button:hover{
        background-color: var(--basic-yellow-hover);
        cursor: pointer;
        color: var(--basic-total-text);
    }
    .button:disabled{
        background-color: var(--basic-other-text);
        cursor: pointer;
        color: var(--basic-total-text);
    }
    .visually-mobile{
        display: block;
    }
    .visually-desktop{
        display: none;
    }
    .container{
        width: 375px;
        padding: 0 16px;
        margin: 0 auto;
    }
    .container_button{
        padding: 0;
        width: 100%;
    }
    .container-fixed{
        position: fixed;
        bottom: 0;
        z-index: 5;
    }
    .page-header__nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 20px 0;
    }
    .page-header__nav_wrapper{
        display: flex;
        height: 28px;
    }
    .page-header__nav-logo{
        border-right: 1px solid var(--basic-grey);
        padding-right: 29px;
    }
    .page-header__nav-visa{
        padding-top: 2px;
        padding-left: 25px;
    }
    .page-header__nav-number_mob,
    .page-header__nav-description_mob {
        display: none;
    }
    .page-header__nav-phone{
        width: 24px;
        height: 28px;
        position: relative;
    }
    .page-header__nav-phone:before{
        content: '';
        position: absolute;
        top: 2px; 
        left: 0;
        width: 24px;
        height: 24px;
        background: url(../img/contact.svg) no-repeat;
    }
    .page-main-promo_wrapper{
        background: url(../img/promo_mob.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        height: 490px;
        padding-top: 29px;
    }
    .page-main-promo__subtitle{
        position: relative;
        font-weight: 500;
        width: 171px;
        height: 34px;
        color: var(--basic-white-text);
        background: url(../img/progress.svg) no-repeat;
        padding: 8px 0 5px 0;
        margin-bottom: 14px;
    }
    .page-main-promo__subtitle_desktop{
        display: none;
    }
    .page-main-promo__title{
        letter-spacing: 0.2px;
    }
    .page-main-promo__title_text,
    .page-main-promo__title_symbols {
        font-weight: 900;
        font-size: 64px;
        line-height: 72px;
    }
    .page-main-promo__title_symbols{
        font-size: 42px;
    }
    .page-main-promo__button{
        width: 100%;
    }
    .page-main-benefits{
        border-bottom: 1px solid var(--basic-grey);
    }
    .page-main-benefits__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-top: 45px;
    }
    .page-main-benefits__list-item{
        text-align: center;
        margin-top: 20px;
    }
    .page-main-benefits__list-item-title{
        font-family: "Navigo";
        font-weight: 700;
        font-size: 48px;
        line-height: 42px;
    }
    .page-main-benefits__list-item-title_size {
        font-size: 30px;
    }
    .page-main-benefits__list-item:nth-child(3){
        display: none;
    }
    .page-main-benefits__list-item:nth-child(4){
        margin-bottom: 39px;
    }
    .page-main-benefits__list-item:nth-child(4) .page-main-benefits__list-item-title{
        font-weight: 900;
    }
    .page-main-benefits__list-item-subtitle{
        font-size: 14px;
        color: var(--basic-subtitle-text);
    }
    
    .page-main-cashback__title{
        padding-top: 48px;
        margin-bottom: 38px;
    }
    .page-main-cashback__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-bottom: 52px;
    }
    .page-main-cashback__list-item{
        width: 343px;
        height: 140px;
        background-color: var(--basic-cashback-card);
        border-radius: 14px;
        margin-bottom: 14px;
        position: relative;
        overflow: hidden;
    }
    .page-main-cashback__list-item::before{
        content:'';
        position: absolute;
        top: 20px;
        right: 20px;
        width: 121px;
        height: 100px;
        background: url(../img/coints.png) no-repeat;
    }
    .page-main-cashback__list-item:nth-child(2)::before{
        content:'';
        position: absolute;
        top: 0;
        width: 105px;
        height: 163px;
        background-image: url(../img/bag.png);
    }
    .page-main-cashback__list-item:nth-child(3)::before{
        top: 11px;
        width: 120px;
        height: 106px;
        background-image: url(../img/car.png);
    }
    .page-main-cashback__list-item:last-child{
        margin-bottom: 0;
    }
    .page-main-cashback__list-text{
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: var(--basic-white-text);
        margin: 42px 158px 42px 30px;
    }
    .page-main-calculate__title{
        margin-bottom: 15px;
    }
    .page-main-calculate__subtitle {
        color: var(--basic-subtitle-text);
        margin-bottom: 25px;
    }
    .page-main-calculate_wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 48px;
    }
    .page-main-calculate__sliders{
        margin-bottom: 36px;
    }
    .page-main-calculate__sliders-first{
        margin-bottom: 29px;
        position: relative;
    }
    .page-main-calculate__sliders-second{
        position: relative;
    }
    .page-main-calculate__sliders-first-label,
    .page-main-calculate__sliders-second-label{
        display: block;
    }
    .page-main-calculate__sliders-first-range,
    .page-main-calculate__sliders-second-range{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 3px;
    }
    .results{
        position: absolute;
        width: 145px;
        height: 30px;
        right: 20px;
        top: 0px;
        font-family: "Navigo";
        font-size: 24px;
        line-height: 30px;
        text-align: right;
        border: none;
    }
    .results:disabled{
        background-color: transparent;
    }
    .page-main-calculate__sliders-first::before{
        position: absolute;
        content:'₽';
        right: 0;
        font-family: "Navigo";
        font-size: 24px;
        line-height: 30px;
    }
    .page-main-calculate__sliders-second::before{
        position: absolute;
        content:'мес.';
        right: 0;
        font-family: "Navigo";
        font-size: 24px;
        line-height: 30px;
    }
    .page-main-calculate__sliders-second-result{
        right: 55px;
    }
    .page-main-calculate__total{
        width: 100%;
        height: 306px;
        background-color: var(--bacis-total-bcg);
        border-radius: 14px;
        padding-top: 25px;
        text-align: center;
    }
    .page-main-calculate__total-value{
        font-family: "Navigo";
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
    }
    .page-main-calculate__total-comment{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
    .page-main-calculate__total_wrapper{
        margin-bottom: 14px;
        color: var(--basic-total-text);
    }
    .page-main-calculate__total_wrapper:nth-child(2){
        margin-bottom: 20px;
    }
    .page-main-calculate__total-button{
        border-radius: 10px;
        width: 204px;
        margin-bottom: 24px;
    }
    .page-main-calculate__total-note{
        border-top: 1px solid var(--basic-grey);
        color: var(--basic-subtitle-text);
        padding: 12px 36px 11px 36px;
    }
    .page-main-form__title{
        margin-bottom: 30px;
    }
    .page-main-form__list{
        list-style: none;
        margin-bottom: 32px;
    }
    .page-main-form__list-item{
        padding-left: 50px;
        padding-right: 63px;
        margin-bottom: 15px;
        position: relative;
    }
    .page-main-form__list-item::before{
        content:'';
        position: absolute;
        width: 20px;
        height: 24px;
        top: -2px;
        left: 14px;
        background: url(../img/doc.svg) no-repeat;
    }
    .page-main-form__list-item:nth-child(2)::before{
        width: 22px;
        background: url(../img/message.svg) no-repeat;
    }
    .page-main-form__list-item:nth-child(3)::before{
        width: 21px;
        height: 20px;
        background: url(../img/card.svg) no-repeat;
    }
    .page-main-form__list-item:last-child{
        margin-bottom: 0;
    }
    .page-main-form__form{
        background-color: var(--bacis-total-bcg);
        height: 450px;
        padding-top: 214px;
        margin-bottom: 60px;
    }
    .page-main-form__form-text{
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: var(--basic-other-text);
    }
    .page-main-online{
        background-color: var(--basic-online-bcg);
        margin-bottom: 60px;
    }
    .page-main-online__title{
        color: var(--basic-white-text);
        padding-top: 55px;
        margin-bottom: 15px;
    }
    .page-main-online__subtitle{
        color: var(--basic-white-text);
    }
    .page-main-online__slider_wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .page-main-online__slider-item{
        width: 210px;
        height: 340px;
        padding: 54px 21px 0 21px;
        background-color: var(--basic-total-text);
        border-radius: 14px;
        margin-right: 15px;
        overflow: hidden;
        flex-shrink: 0;
        margin-bottom: 30px;
    }
    .page-main-online__slider-item:last-child{
        margin-right: 0;
    }
    .swiper-pagination-bullet{
        width: 7px;
        height: 7px;
    }
    .page-main-online__slider-pagination-list{
        list-style: none;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    .page-main-online__slider-pagination-list-bullet{
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: transparent;
        border:1px solid var(--basic-subtitle-text);
        margin-right: 7px;
    }
    .page-main-online__slider-pagination-list-bullet_active{
        background-color: var(--basic-button-yellow);
        border: none;
    }
    .page-footer__info{
        border-top: 1px solid var(--basic-grey);
        border-bottom: 1px solid var(--basic-grey);
    }
   .page-footer__info-company{
       padding-top: 27px;
       text-align: left;
       color: var(--basic-company-text);
   } 
   .page-footer__info-company:last-child{
       padding-bottom: 25px;
   }
   .page-footer__description{
       overflow-y: scroll;
       padding-right: 13px;
       height: 110px;
   }
   .container_footer{
        padding-top: 30px;
        padding-bottom: 30px;
   }
   .page-main-calculate__sliders-first-range-track,
   .page-main-calculate__sliders-second-range-track{
       position: absolute;
       top: 35.7px;
       width: 10px;
       height: 4.5px;
       background-color: #FEE600;
       z-index: 1;
   }
}

/*Desktop версия*/
@media (min-width: 1400px){
    .container{
        width: 1400px;
        padding: 0 130px;
    }
    .container_desktop{
        width: 1400px;
        padding: 0 22px;
    }
    .title {
        font-size: 60px;
        line-height: 70px;
    }
    .title-h2 {
        font-size: 48px;
        line-height: 54px;
    }
    .subtitle{
        font-size: 18px;
        line-height: 26px;
    }
    .other{
        font-size: 13px;
        line-height: 18px;
    }
    .page-header__nav{
        margin: 22px 0;
    }
    .page-header__nav-logo-img{
        width: 171px;
        height: 36px;
    }
    .page-header__nav-visa-img{
        width: 87px;
        height: 28px;
    }
    .page-header__nav-phone{
        width: 160px;
    }
    .page-header__nav-phone:before{
        display: none;
    }
    .page-header__nav-number_mob,
    .page-header__nav-description_mob{
        display: block;
    }
    .page-header__nav-number{
        text-align: right;
        font-size: 20px;
        line-height: 26px;
    }
    .page-header__nav-description{
        text-align: right;
    }
    .page-header__nav_wrapper{
        height: 36px;
    }
    .page-header__nav-logo{
        padding-right: 33px;
    }
    .page-header__nav-visa{
        padding-left: 35px;
        padding-top: 4px;
    }
    .page-main-promo{
        position: relative;
    }
    .page-main-promo_wrapper{
        background: url(../img/promo_desk_1920x550.jpg) no-repeat;
        height: 550px;
        padding-top: 80px;
        background-size: cover;
    }
    .page-main-promo__subtitle{
        padding-top: 6px;
    }
    .page-main-promo__subtitle_mobile{
        display: none;
    }
    .page-main-promo__subtitle_desktop{
        display: inline;
    }
    .page-main-promo__subtitle{
        width: 236px;
        height: 34px;
        font-size: 16px;
        background: url(../img/progress-desktop.svg) no-repeat;
    }
    .page-main-promo__title{
        width: 516px;
    }
    .page-main-promo__title_text,
    .page-main-promo__title_symbols {
        font-size: 108px;
        line-height: 110px;
    }
    .page-main-promo__title_symbols{
        font-size: 72px;
        line-height: 74px;
    }
    .page-main-promo__button{
        width: 213px;
        border-radius: 10px;
    }
    .container_button{
        padding: 0;
        position: absolute;
        bottom: 80px;
        width: auto;
        left: 57%;
        transform: translateX(-310%);
    }
    .page-main-benefits__list{
        flex-direction: row;
        justify-content: space-between;
    }
    .page-main-benefits__list-item:nth-child(3){
        display: unset;
    }
    .visually-mobile{
        display: none;
    }
    .visually-desktop{
        display: block;
    }
    .page-main-benefits__list-item:nth-child(4) .page-main-benefits__list-item-title{
        font-weight: 700;
    }
    .page-main-benefits__list-item-title{
        font-size: 64px;
        line-height: 72px;
    }
    .page-main-benefits__list-item-title_size{
        font-size: 36px;
        line-height: initial;
    }
    .page-main-benefits__list-item:nth-child(4){
        margin-bottom: 0;
    }
    .page-main-benefits__list{
        padding: 54px 0 61px 0;
    }
    .page-main-cashback__title{
        padding-top: 79px;
        margin-bottom: 64px;
    }
    .page-main-cashback__list{
        flex-direction: row;
        justify-content: space-between;
    }
    .page-main-cashback__list-item{
        margin-bottom: 0;
    }
    .page-main-cashback__list{
        padding-bottom: 90px;
    }
    .page-main-calculate{
        background-color: var(--bacis-total-bcg);
        padding-bottom: 90px;
    }
    .page-main-calculate__title{
        padding-top: 72px;
    }
    .page-main-calculate__title{
        margin-bottom: 10px;
    }
    .page-main-calculate__subtitle{
        margin-bottom: 52px;
    }
    .page-main-calculate_wrapper{
        width: 1010px;
        height: 389px;
        background-color: var(--basic-white-text);
        border-radius: 14px;
        margin-left: auto;
        margin-right: auto;
        padding: 47px 60px 60px 60px;
    }
    .page-main-calculate_wrapper{
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .page-main-calculate__sliders{
        width: 572px;
        margin-bottom: 0;
    }
    .page-main-calculate__total{
        width: 261px;
        height: 282px;
        padding-top: 0;
        background-color: transparent;
        border-radius: 0;
        border-left: 1px solid var(--basic-grey);
    }
    .page-main-calculate__total-note{
        border: none;
        position: absolute;
        width: 572px;
        left: 60px;
        bottom: 70px;
        padding: 0;
        text-align: left;
        color: var(--basic-other-text)
    }
    .results{
        height: 34px;
        font-size: 32px;
    }
    .page-main-calculate__sliders-first-label, .page-main-calculate__sliders-second-label{
        padding-top: 10px;
    }
    .page-main-calculate__sliders-first-range{
        font-size: 12px;
        line-height: 12px;
    }
    .page-main-calculate__total_wrapper{
        margin-bottom: 42px;
    }
    .page-main-calculate__total_wrapper:nth-child(2){
        margin-bottom: 54px;
    }
    .page-main-calculate__total-button{
        margin-bottom: 0;
    }
    .page-main-calculate__total-value{
        font-size: 32px;
        line-height: 42px;
    }
    .page-main-calculate__total-comment{
        font-size: 16px;
        line-height: 24px;
        color: var(--basic-total-text);
    }
    .page-main-calculate__total:last-child{
        text-align: right;
    }
    .page-main-form__title{
        padding-top: 79px;
    }
    .page-main-form__title{
        margin-bottom: 44px;
    }
    .page-main-form__list{
        display: flex;
        flex-direction: row;
        width: 853px;
        margin:0 auto 0 auto;
        padding-bottom: 42px;
    }
    .page-main-form__list-item{
        margin-bottom: 0;
        padding-right: 0;
    }
    .page-main-form__form{
        background-color: transparent;
        padding-top: 0;
        height: auto;
        margin-bottom: 90px;
    }
    .page-main-form__form-text{
        width: 964px;
        height: 511px;
        border: 1px solid var(--basic-grey);
        border-radius: 12px;
        margin: 0 auto;
        padding-top: 243px;
    }
    .page-main-online__title{
        padding-top: 79px;
        margin-bottom: 0;
    }
    .page-main-online__subtitle{
        margin-bottom: 64px;
    }
    .page-main-online__slider{
        width: 996px;
        margin: 0 auto 70px auto;
    }
    .page-main-online__slider_wrapper{
        justify-content: space-between;
    }
    .page-main-online__slider-item{
        margin-right: 0;
        height: 380px;
        width: 234px;
        margin-bottom: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
    .page-main-online__slider-img{
        width: 186px;
        height: 372px;
    }
    .page-main-online__slider-pagination{
        display: none;
    }
    .page-main-online__slider{
        position: relative;
    }
    .page-main-online__slider::before{
        content:'';
        position: absolute;
        left: -70px;
        background-image: url(../img/left.svg);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center center;
        width: 42px;
        height: 42px;
        border-radius: 14px;
        top: 179px;
        background-color: var(--basic-button-yellow);
    }
    .page-main-online__slider::after{
        content:'';
        position: absolute;
        right: -70px;
        background-image: url(../img/right.svg);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center center;
        width: 42px;
        height: 42px;
        border-radius: 14px;
        top: 179px;
        background-color: var(--basic-button-yellow);
    }
    .page-main-online__slider:hover::before, .page-main-online__slider:hover::after {
        content:'';
        background-color: var(--basic-yellow-hover);
    }
    .page-main-online__button{
        width: 265px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .page-main-online{
        margin-bottom: 90px;
        padding-bottom: 80px;
    }
    .page-footer__info .container{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 25px;
    }
    .page-footer__info-company{
        padding: 0;
    }
    .page-footer__info-company:last-child{
        padding-bottom: 0;
    }
    .container_footer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page-footer__description{
        height: 122px;
    }
    .page-footer__description::-webkit-scrollbar-thumb {
        height: 49px;
        width: 5px;
    }
    .page-footer__description::-webkit-scrollbar-thumb:hover {
        background-color: #808185;
        cursor: pointer;
    }
    .page-footer__description::-webkit-scrollbar-thumb:active {
        width: 5px;
        background-color: #808185;
        cursor: pointer;
    }
    .page-footer__description::-webkit-scrollbar-thumb:focus {
        width: 5px;
        background-color: #808185;
        cursor: pointer;
    }
    .page-main-calculate__sliders-first-input{
        z-index: 1;
    }
    .page-main-calculate__sliders-first-range-track,
    .page-main-calculate__sliders-second-range-track{
        position: absolute;
        top: 45px;
        width: 10px;
        height: 4px;
        background-color: #FEE600;
        z-index: 1;
    }
}